<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artha</title>
</head>
<body>
    <form method="post" action=""> 
        <div if(data.loginInvalido == true)>
          <span>Login ou senha invalidos</span>  
        </div>
        <h1>Faça login na Artha</h1>  
        <p> 
          <label for="Email">Email: </label>
          <input id="email" name="email" type="text" placeholder="Email:"/>
        </p>

        <p> 
          <label for="senha">Senha: </label>
          <input id="senha" name="senha" type="password" placeholder="Senha:"/>
        </p>

        <p> 
          <input type="submit" value="Login"/> 
        </p>
      </form>
</body>
</html>